<!DOCTYPE html>
<html>

<head>
    <title>HTMX Flask Example</title>
    <script src="{{url_for('static', filename='js/htmx-1.9.6.js')}}"></script>
    <meta charset="utf-8">

    <style>
        .container {
            max-width: 800px;
            margin: 0 auto;
        }
        .header {
            background: #012485;
            color: black;
            height: 20px;       
            padding-left: 2px;     
        }
    </style>
</head>

<html>

<body>
    <div class="container">
        <div class="header">
            <p>BitJourn - <a href="/create" style="color: black;">upload</a> | <a href="/post_ads" style="color: black;">ads</a> | <a href="/about" style="color: black;">about</a></p>
        </div>

        {% block body %}
        {% endblock %}
    </div>
</body>

</html>
